<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.oror.arabot">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="kr.oror.arabot.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Ara"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="kr.oror.arabot.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver android:name="kr.oror.arabot.ActionReceiver" />

        <activity
            android:name="kr.oror.arabot.HelpActivity"
            android:parentActivityName="kr.oror.arabot.ScriptSelectActivity"
            android:theme="@style/Ara" />
        <activity
            android:name="kr.oror.arabot.BlackListManager"
            android:parentActivityName="kr.oror.arabot.ScriptSelectActivity"
            android:label="@string/blacklist"
            android:theme="@style/Ara" />
        <activity
            android:name="kr.oror.arabot.PublicSettingsScreen"
            android:label="@string/public_settings"
            android:parentActivityName="kr.oror.arabot.ScriptSelectActivity" />
        <activity
            android:name="kr.oror.arabot.ScriptSelectActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.oror.arabot.SettingsScreen"
            android:label="@string/scriptsettings" />
        <activity
            android:name="kr.oror.arabot.ScriptActivity"
            android:label="@string/scriptactivity" />
        <activity
            android:name="kr.oror.arabot.ScriptEditor"
            android:label="@string/scripteditor"
            android:theme="@style/Ara" />
        <activity
            android:name="kr.oror.arabot.DebugModeScreen"
            android:label="@string/debugroom" />
        <activity
            android:name="kr.oror.arabot.LoggerScreen"
            android:label="@string/log" />
        <activity
            android:name="kr.oror.arabot.CodePlaygroundScreen"
            android:label="@string/sandbox" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="kr.oror.arabot.ShowAllActivity" />

    </application>

</manifest>